@tailwind base;
@tailwind components;
@tailwind utilities;

.popUp {
  animation: animaPopUp 0.4s forwards;
}

@keyframes animaPopUp {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}